<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Home</title>
    {% endif %}

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand font-weight-bold" href="{{ url_for('home') }}">
        <i class="fa fa-shoe-prints mr-2"></i>Golden Shoe
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('men') }}">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('women') }}">Women</a>
          </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0 mr-3" action="{{ url_for('search') }}" method="post" name="search">
          {{ g.search_form.hidden_tag() }}
          {{ g.search_form.search(class="form-control mr-sm-2", placeholder="Search shoes...") }}
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
        
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cart') }}">
              <i class="fa fa-shopping-cart"></i> Cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('account') }}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
  <main role="main">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="container mt-3">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}
  </main>
  
  <footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5><i class="fa fa-shoe-prints mr-2"></i>Golden Shoe</h5>
          <p class="text-muted">Premium footwear for every step of your journey.</p>
        </div>
        <div class="col-md-6 text-md-right">
          <p class="text-muted">&copy; 2024 Golden Shoe. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
</body>
</html>
