{% extends "base.html" %}
{% block content %}
<section class="section-products">
  <div class="container">
      <div class="row">
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-3" class="single-product">
              <a href="{{url_for('product', id=7)}}">
                <div class="part-1">
                </div>
              </a>
                <div class="part-2">
                    <h3 class="product-title">Shein Black Heels</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-4" class="single-product">
              <a href="{{url_for('product', id=16)}}">
                <div class="part-1">
                    <span class="new">new</span>
                </div>
              </a>
                <div class="part-2">
                    <h3 class="product-title">Cassia Women's Trainers</h3>
                    <h4 class="product-price">$49.99</h4>
                </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-5" class="single-product">
              <a href="{{url_for('product', id=10)}}">
                <div class="part-1">
                </div>
              </a>
                <div class="part-2">
                    <h3 class="product-title">Blue Suede Sneakers</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                </div>
            </div>
        </div>
        <!-- Single Product -->
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-6" class="single-product">
              <a href="{{url_for('product', id=13)}}">
                <div class="part-1">
                    <span class="discount">30% off</span>
                </div>
              </a>
                <div class="part-2">
                    <h3 class="product-title">Brogue Ankle Boots</h3>
                    <h4 class="product-price">$49.99</h4>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <!-- Single Product -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div id="product-3" class="single-product">
            <a href="{{url_for('product', id=7)}}">
              <div class="part-1">
              </div>
            </a>
              <div class="part-2">
                  <h3 class="product-title">Shein Black Heels</h3>
                  <h4 class="product-old-price">$79.99</h4>
                  <h4 class="product-price">$49.99</h4>
              </div>
          </div>
        </div>
        <!-- Single Product -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div id="product-4" class="single-product">
            <a href="{{url_for('product', id=16)}}">
              <div class="part-1">
                  <span class="new">new</span>
              </div>
            </a>
              <div class="part-2">
                  <h3 class="product-title">Cassia Women's Trainers</h3>
                  <h4 class="product-price">$49.99</h4>
              </div>
          </div>
        </div>
        <!-- Single Product -->
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div id="product-5" class="single-product">
            <a href="{{url_for('product', id=10)}}">
              <div class="part-1">
              </div>
            </a>
              <div class="part-2">
                  <h3 class="product-title">Blue Suede Sneakers</h3>
                  <h4 class="product-old-price">$79.99</h4>
                  <h4 class="product-price">$49.99</h4>
              </div>
          </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
          <div id="product-6" class="single-product">
            <a href="{{url_for('product', id=13)}}">
              <div class="part-1">
                  <span class="discount">30% off</span>
              </div>
            </a>
              <div class="part-2">
                  <h3 class="product-title">Brogue Ankle Boots</h3>
                  <h4 class="product-price">$49.99</h4>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-3" class="single-product">
          <a href="{{url_for('product', id=7)}}">
            <div class="part-1">
            </div>
          </a>
            <div class="part-2">
                <h3 class="product-title">Shein Black Heels</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-4" class="single-product">
          <a href="{{url_for('product', id=16)}}">
            <div class="part-1">
                <span class="new">new</span>
            </div>
          </a>
            <div class="part-2">
                <h3 class="product-title">Cassia Women's Trainers</h3>
                <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-5" class="single-product">
          <a href="{{url_for('product', id=10)}}">
            <div class="part-1">
            </div>
          </a>
            <div class="part-2">
                <h3 class="product-title">Blue Suede Sneakers</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-6" class="single-product">
          <a href="{{url_for('product', id=13)}}">
            <div class="part-1">
              <span class="discount">30% off</span>
            </div>
          </a>
            <div class="part-2">
              <h3 class="product-title">Brogue Ankle Boots</h3>
              <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-3" class="single-product">
          <a href="{{url_for('product', id=7)}}">
            <div class="part-1">
            </div>
          </a>
            <div class="part-2">
                <h3 class="product-title">Shein Black Heels</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-4" class="single-product">
          <a href="{{url_for('product', id=16)}}">
            <div class="part-1">
                <span class="new">new</span>
            </div>
          </a>
            <div class="part-2">
                <h3 class="product-title">Cassia Women's Trainers</h3>
                <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-5" class="single-product">
          <a href="{{url_for('product', id=10)}}">
            <div class="part-1">
            </div>
          </a>
            <div class="part-2">
                <h3 class="product-title">Blue Suede Sneakers</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
      <!-- Single Product -->
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-6" class="single-product">
          <a href="{{url_for('product', id=13)}}">
            <div class="part-1">
              <span class="discount">30% off</span>
            </div>
          </a>
            <div class="part-2">
              <h3 class="product-title">Brogue Ankle Boots</h3>
              <h4 class="product-price">$49.99</h4>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}